* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.mr-10 {
  margin-right: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.lh-30 {
  line-height: 30px;
}

.bd-1 {
  border: 1px solid #ccc;
}